#log-btn-container {
    float: right;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10px;
}

.log-btn {
    width: 100px;
    height: 60px;
    background-color: black;
    color: white;
}

#welcome-msg {
    text-align: center;
    font-size: 30pt;
}

.highlight-title {
    font-size: 24pt;
}

.front-page-title {
    font-size: 18pt;
}