#log-btn-container {
    float: right;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
    bottom: 20px;
}

#welcome-msg {
    text-align: center;
    font-size: 30pt;
    position: relative;
    top: 30px;
}

table {
    margin: auto;
    text-align: center;
    width: 30%;
    border: 5px solid green;
}

th {
    font-size: 24pt;
    padding: 20px;
    border: 3px solid rgba(0, 128, 0, 0.9);
}

td {
    padding: 20px;
    border: 1px solid rgba(0, 128, 0, 0.8);
}

.front-page-title {
    font-size: 18pt;
}