#search-header {
    text-align: center;
    font-size: 36pt;
    position: relative;
    top: 30px;
}

#search-section {
    text-align: center;
    font-size: 30pt;
}

#search-section > p {
    margin: 75px;
}