#profile-back-btn {
	float: left;
    position: relative;
    left: 20px;
}

#settings-btn {
	float: right;
	position: relative;
	right: 20px;
}

#author-name {
	text-align: center;
    font-size: 34pt;
    padding: 30px;
	margin: 35px;
}

#pronoun-title {
	color: rgba(121, 121, 121, 0.8);
	font-size: 24pt;
}

#no-stories {
	text-align: center;
	font-size: 16pt;
}

#story-table {
	margin: auto;
	width: 30%;
	text-align: center;
	border: 5px solid green;
}

th {
	font-size: 24pt;
	padding: 20px;
	border: 3px solid rgba(0, 128, 0, 0.9);
}

td {
    font-size: 18pt;
	padding: 20px;
	border: 1px solid rgba(0, 128, 0, 0.8);
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .close-btn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px;}
	.overlay .close-btn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}