h2 {
    text-align: center;
    font-size: 34pt;
    position: relative;
    top: 40px;
}

#write-story-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 40%;
}

label {
    margin: 10px;
    position: relative;
    left: 10px;
    font-size: 14pt;
}

#title-input, #story-input, #write-btns {
    margin: 20px;
}

#public-box {
    margin: 0;
    position: relative;
    right: 23%;
    bottom: 25px;
}