#story-back-btn {
	float: left;
    position: relative;
    left: 20px;
}

#story-view-title {
	margin: 15px;
	font-size: 30pt;
	position: relative;
	left: 20px;
}

#story-content {
	margin: 15px;
	font-size: 14pt;
	position: relative;
	left: 20px;
}

#story-btn-container {
	display: flex;
	justify-content: space-around;
	width: 7%;
	margin: 10px;
	position: relative;
	right: 15px;
}

#rating-container {
	margin: 35px;
}

#rating {
	margin: 15px;
	position: relative;
	left: 20px;
}

#comment-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

#comment-title {
	font-size: 24pt;
	position: relative;
	left: 7.5%;
}

#comment-input {
	width: 20%;
	margin: 5px;
}

#comment-form > button {
	width: 10%;
	background-color: green;
	color: white;
	position: relative;
	left: 5%;
}

#comment-section {
	padding: 20px;
}

#comment-section > p {
	position: relative;
	left: 22px;
}

#comment-container {
	position: relative;
	left: 22px;
}